:host{
    font-family: sans-serif;
}

label{
    display: block;
}

.hours{
    font-size: 2rem;
    color: darkblue;
}

.compoundValue {

    font-size: 2rem;
    font-weight: bold;
    color: brown;
}

.compoundValueRRSP {
    font-size: 2rem;
    font-weight: bold;
    color: cadetblue;
}
