<p>The true cost of things.</p>
<form [formGroup]="formGroup">
    <label>How much does it cost ?</label>
    <input [formControlName]="'costControl'" type="number">
    <br>
    <label>I make <input [formControlName]="'hourlyRateControl'" type="number">$ an hour</label>
    <label>and I work <input [formControlName]="'numberOfHoursControl'" type="number">hours a week.</label>

    <br>
    <label>The amount of time you need to spend at work is :</label>
<!--    {{fakeResult}} hours-->
    <div class="hours">{{ result }} hours total.</div>

    <br>
    Value of investments in 25 years with compound interest of 7% calculated monthly :
    <div class="compoundValue" *ngIf="compoundValue">
        {{ compoundValue | currency}}
    </div>

</form>
