<p>The true cost of things.</p>
<form [formGroup]="formGroup">
    <label>How much does it cost ?</label>
    <input [formControlName]="'costControl'" type="number">
    <br>
    <label>I make <input [formControlName]="'hourlyRateControl'" type="number">$ an hour</label>
    <label>and I work <input [formControlName]="'numberOfHoursControl'" type="number">hours a week.</label>

    <br>
    <label>The amount of time you need to spend at work is :</label>
    {{fakeResult}} hours
    <br>
    Reality : <br>
    {{result}} hours in a year.
    <br>
    {{result / 52}} hours a week.
    <br>
    Value of investments in 25 years with compound interest of 7% monthly

</form>
