:host{
    font-family: sans-serif;
}

label{
    display: block;
}

.hours{
    font-size: 32px;
    color: #dd69fc;
    background: #1f1f1f;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compoundValue {
    font-size: 64px;
    font-weight: bold;
    color: #ce0000;
}

.compoundValueRRSP {
    font-size: 2rem;
    font-weight: bold;
    color: cadetblue;
}
