<h1>Combien ça coûte?</h1>
<form [formGroup]="formGroup">
    <label>The price is <input [formControlName]="'costControl'" type="number">$</label>
    <br>
    <label class="checkbox-container">Add taxes?
        <input type="checkbox" formControlName="taxControl">
        <span class="checkmark"></span>
    </label>
    <ng-container *ngIf="taxControl.value"> + {{costControl.value * taxRate | currency}}</ng-container><br>

    <label class="checkbox-container">Add 15% tip?
        <input type="checkbox" formControlName="tipControl">
        <span class="checkmark"></span>
    </label>
    <ng-container *ngIf="tipControl.value"> + {{costControl.value * tipRate | currency}}</ng-container><br>

    <label>I make this payment <input [formControlName]="'paymentsFrequency'" type="number"> times a
        <select [formControlName]="'frequencyControl'">
            <option value="1">year</option>
            <option value="12">month</option>
            <option value="52">week</option>
            <option value="365">day</option>
        </select>.
    </label>
    <br>
    <p class="strong total">TOTAL : {{realCost | currency}}</p>
    <br>
    <app-person-hourly-rate-income [formGroup]="formGroup"></app-person-hourly-rate-income>
    <app-person-weekly-hours [formGroup]="formGroup"></app-person-weekly-hours>
    <app-person-daily-commute [formGroup]="formGroup"></app-person-daily-commute>
    <br>
    <label>The amount of time you need to spend at work is :</label>
    <div class="hours">{{ result }} hours</div>
<!--    <div>{{result / (personWeeklyHours$ | async) | number}} weeks</div>-->

    <br>
    Value of {{realCost | currency}} in {{yearsOfInvestments}} years with compound interest of 7% calculated monthly :
    <div class="compoundValue" *ngIf="compoundValue">
        {{ compoundValue | currency}}
    </div>

    <br>
<!--    TODO : REVISER-->
<!--    Value of RRSP investment in {{yearsOfInvestments}} years with compound interest of 7% calculated monthly :-->
<!--    <div class="compoundValueRRSP" *ngIf="compoundValue">-->
<!--        {{ compoundValueRRSP | currency}}-->
<!--    </div>-->

<!--    <br>-->
<!--    Value if you make the same investment yearly for the next {{yearsOfInvestments}} years with a compound interest of 7% calculated monthly:-->
<!--    <div class="compoundValue" *ngIf="compoundValue">-->
<!--        {{ compoundAddedValue | currency}}-->
<!--    </div>-->

<!--    <br>-->
<!--    Value if you make the same investment yearly  in an RRSP for the next {{yearsOfInvestments}} years with a compound interest of 7% calculated monthly:-->
<!--    <div class="compoundValueRRSP" *ngIf="compoundValue">-->
<!--        {{ compoundAddedValueRRSP | currency}}-->
<!--    </div>-->

</form>
