@import "typography";

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:18px;
}
label{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:20px;
}

input {
    height:40px;
    max-width:100px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-size:24px;
}

.strong{
    font-weight: 500;
}

.total{
    background: #1f1f1f;
    height:64px;
    font-size:32px;
    color: #c2ff66;
    display: flex;
    align-items: center;
    justify-content: center;
}
